/*  this is style sheet */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #0e0d0d;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-family: 'Lobster', cursive;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #f1f1f1;
}

.nav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .nav-menu {
        padding-top: 15px;
    }
    .nav-menu a {
        font-size: 18px;
    }
}

.home-background {
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%); */
    background: linear-gradient(50deg, rgba(2, 245, 255, 1), rgba(255, 94, 247, 1), #e25f13);
    background-size: 200% 200%;
    animation: GradientBackground 5s ease infinite;
    height: 850px;
    /* transform-box: 45deg; */
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bio {
    margin: 8px;
    border-radius: 6px;
    background: rgb(34, 193, 195);
    background-image: linear-gradient( 135deg, #FFF3B0 10%, #CA26FF 100%);
}

.bio h1 {
    text-align: center;
    padding-top: 15px;
}

.bio-image {
    width: 160px;
    height: 160px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio li {
    font-family: var(--font-family);
    text-align: justify;
    font-size: x-large;
    padding: 5px 30px 5px 30px;
}

.three-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h1 {
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.skill-card {
    display: block;
    text-align: center;
    margin: 20px auto 20px auto;
    height: 190px;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
}

.html-svg {
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.js-svg {
    padding: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.nodejs-svg {
    padding: 30px 10px 20px 10px;
    text-align: center;
    justify-content: center;
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.projects-container {
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.projectsCard {
    display: flex;
    width: 1200px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    cursor: pointer;
}

.project-details {
    width: 700px;
    font-size: 30px;
    padding: auto 15px auto 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.project-details {
    padding-top: 150px;
    padding-left: 20px;
}

.project-btn {
    padding: 10px;
    background-color: rgb(247, 164, 115);
    /* border: 1px solid; */
    border-radius: 3px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.project-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

.loading-text {
    font-family: monospace;
    color: gray;
    animation: animate 0.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        font-weight: 0%;
    }
    50% {
        opacity: 1;
        font-weight: 100%;
    }
    100% {
        opacity: 0;
        font-weight: 0%;
    }
}

.terminal {
    width: 700px;
    height: 500px;
    align-content: right;
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    overflow: hidden;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%, rgb(0, 0, 17) 0%, rgba(7, 3, 53, 1) 97.5%);
}

.terminal-head {
    /* width: 0px 0px 0px 70px; */
    height: auto;
    padding: 0px;
    height: 20px;
    background: rgb(31, 31, 96);
    background: linear-gradient(50deg, rgba(31, 31, 96, 1) 55%, rgba(31, 31, 96, 1) 120%);
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    justify-content: center;
}

.project-img {
    width: 700px;
    height: 500px;
    align-content: right;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}

.project-img img {
    width: 700px;
    height: 500px;
    align-content: right;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}

.terminal-effect {
    font-size: 15px;
    text-align: left;
    margin: 3px;
    /* overflow: hidden; */
}

.cmd1 {
    text-overflow: hidden;
}

.console-underscore {
    width: 5px;
    height: 5px;
}

.contact-form-container {
    display: block;
    margin: 5px;
    border-radius: 6px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
}

.contact-form {
    padding: 10px;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

footer {
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    background: rgb(34, 193, 195);
    background-image: linear-gradient( 135deg, #FFF3B0 10%, #CA26FF 100%);
}

@media (max-width: 1200px) {
    .contact-form-container {
        display: block;
        margin: 5px;
        border-radius: 6px;
        width: 1300px;
        box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
    }
}

@media (max-width: 500px) {
    .projectsCard {
        display: block;
        width: auto;
        height: 400px;
        margin: 20px;
        border-radius: 20px;
        box-shadow: 0px 2px 15px 2px var(--primary-shadow);
        cursor: pointer;
    }
    .project-details {
        width: auto;
        font-size: 20px;
        padding: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
    .terminal {
        display: none;
        visibility: hidden;
        /* width: 700px;
        height: 500px;
        align-content: right;
        border-radius: 0px 20px 20px 0px;
        background-color: black;
        overflow: hidden;
        background-image: radial-gradient( circle 610px at 5.2% 51.6%, rgb(0, 0, 17) 0%, rgba(7, 3, 53, 1) 97.5%); */
    }
    .project-img {
        display: none;
        visibility: hidden;
        /* width: 700px;
        height: 500px;
        align-content: right;
        border-radius: 0px 20px 20px 0px;
        overflow: hidden; */
    }
    .contact-form-container {
        display: block;
        width: auto;
        margin: 5px;
        border-radius: 6px;
        margin: 5px;
        box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
    }
}