/*  this is style sheet */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #9d4edd;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-family: 'Lobster', cursive;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #f1f1f1;
}

.nav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .nav-menu {
        padding-top: 15px;
    }
    .nav-menu a {
        font-size: 18px;
    }
}

.home-background {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    height: 850px;
}

.bio {
    margin: 8px;
    border-radius: 6px;
    background: rgb(34, 193, 195);
    background-image: linear-gradient( 135deg, #FFF3B0 10%, #CA26FF 100%);
}

.bio h1 {
    text-align: center;
    padding-top: 15px;
}

.bio-image {
    width: 160px;
    height: 160px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bio li {
    font-family: var(--font-family);
    text-align: justify;
    font-size: x-large;
    padding: 5px 30px 5px 30px;
}

.three-cards {
    display: flex;
}

.skills h1 {
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.skill-card {
    display: block;
    text-align: center;
    margin: 20px auto 20px auto;
    height: 190px;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
}

.html-svg {
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.js-svg {
    padding: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.nodejs-svg {
    padding: 30px 10px 20px 10px;
    text-align: center;
    justify-content: center;
}

.projects h2 {
    text-align: center;
    padding-top: 20px;
}

.project-card {
    /* margin: 1px; */
    padding-top: 1px;
    border-radius: 6px;
    margin: auto 55px auto 55px;
    box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
}

.terminal {
    font-family: monospace;
    display: block;
    height: 200px;
    width: 360px;
    margin: 0px auto 10px auto;
    padding-top: 10px;
    padding-left: 2px;
    background-color: black;
    border-radius: 0px 0px 2px 2px;
    border-style: solid;
}

.terminal-head {
    display: block;
    height: 20px;
    width: 360px;
    background-color: gray;
    margin: 5px auto 0px auto;
    border-radius: 2px 2px 0px 0px;
}

.cmd {
    color: white;
    /* display: block; */
    overflow: hidden;
    /* letter-spacing: 1px; */
    padding-left: 8px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 15px;
    font-family: monospace;
    /* border-right: 4px solid black; */
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

.truecallerejs {
    margin: 10px;
    height: 200px;
    width: 280px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px var(--secondary-shadow);
}

.contact-form-container {
    display: block;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
}

.contact-form {
    padding: 10px
}

.test {
    max-width: max-content;
    max-height: max-content;
}