/*  this is style sheet */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #9d4edd;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-family: 'Lobster', cursive;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #f1f1f1;
}

.nav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .nav-menu {
        padding-top: 15px;
    }
    .nav-menu a {
        font-size: 18px;
    }
}

.home-background {
    font-size: 545px;
}

.about {
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 50px auto 50px auto;
}

.bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10.5rem;
    width: 10.5rem;
}

.bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.bio p {
    text-align: justify;
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 50px auto 50px auto;
}

section h1 {
    text-align: center;
}

.skills-card-group {
    display: flex;
    align-content: center;
    justify-content: center;
}

.skills-card {
    display: block;
    margin: 40px;
    height: 250px;
    width: 250px;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.skills-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 10.5rem;
    width: 10.5rem;
}

.skills-card p {
    text-align: center;
    margin: 20px auto 20px auto;
}

.project-card-group {
    align-content: center;
    justify-content: center;
    border-radius: 1.2rem;
    text-align: center;
}

.project-card {
    display: block;
    margin: 40px;
    /* height: 300px; */
    width: 400px;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    /* background-color: gray; */
}

.project-card .truecallerjs {
    height: 15rem;
    width: 23.6rem;
    margin: 5px auto 5px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 1px var(--primary-shadow);
}

.project-card h3 {
    text-align: center;
}